

.section1{
    display: flex;
      flex: 2 2 600px;
    background-image: url('../../assets/images/ImgHands.jpg');
    background-size: cover;
    justify-content: center;
   position:relative ;
}

.section1-frame{
display: flex;
}

.logo-group1{
    position: absolute;
    top: 60px;
    left:0;   
    width: 400px;
}

.section1-wrapper{
display: flex;
flex-direction: column;
align-items: center;

}

.section-title{
    display: flex;
    justify-content: center;
   font-size: 36px;
   font-weight: 500;
   line-height: 139px;
}

.article-wrapper{
    display: flex;   
   
}
.article-frame{
    display: flex;
    justify-content: flex-end;
    

}

.bld-img-frame{
    display: flex;
    justify-content: end;
}

.building-img{
    width: 90%;
}

.sct-art-frame{
    display: flex;
flex-direction: column;
justify-content: center;
flex-basis: 60%;
background-color: #343638 ;
align-items: center;
}

.sct-art{
font-weight: 400;
font-size: 15px;
line-height: 30px;
width: 60%;
margin-bottom: 20px;
}

